* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica;
}

/* Style the header */
header {
  background-color: #3f8ad5;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  color: white;
  line-height:1em;
}

/* Create two columns/boxes that float next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px;
  background: #ccc;
  padding: 20px;
}

/* Style the list */
nav ul {
  list-style-type: none;
  padding: 0;
}

h1{
    color:white;
    text-align: center;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #acf3e4;
  height: 300px; 
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
    background-color: #3f8ad5;
  padding: 10px;
  text-align: center;
  color: white;
  font-size:0.6em;
  line-height:0.5em;
}

@media (max-width: 600px) {
  nav, article {
    width: 150%;
    height: auto;
  }
}